<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="additem" action="/cart" enctype="application/x-www-form-urlencoded" method="post" id="myForm1">
<div class="container">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span>PDC Shopping Cart</h5>
							</div>
						</div>
					</div>
				</div>
                {{#each items}}
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-2"><img class="img-responsive" src="http://placehold.it/100x70">
						</div>
						<div class="col-xs-4">
							<h4 class="product-name"><strong>{{this.food_name}}</strong></h4><h4><small>Product description</small></h4>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong>{{this.price}} <span class="text-muted">Rs/-</span></strong></h6>
							</div>
						</div>
						<form class="button0" action="/delcart" enctype="application/x-www-form-urlencoded" method="POST" id="myForm3">
						<input type="hidden" name="shop" value={{../cust_ID}} >
						<div class="col-xs-2">
								<button type="button" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
						</div>
						</form>

					</div>
					<hr>
				</div>
                {{/each}}
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>Rs{{total}}</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="submit" class="btn btn-success btn-block">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
