<style>
    .container{
        background-color: white;
        background-image: url("https://thumbs.dreamstime.com/b/indian-food-cuisine-dishes-copy-space-tikka-masala-dal-paneer-samosa-chapati-chutney-spices-gray-background-assortment-meal-145296328.jpg");
        background-size: 1650px 940px;
    }
</style>
<div class="container" id="home" style="width: 1550px; height: 820px;">
    <div class="button">

        <br></br>
        <br></br>
        <form class="button" action="/menu" enctype="application/x-www-form-urlencoded" method="post" id="myForm1">
            <button type="submit" class="btn btn-sm btn-info" style= "color: black" name="butt1" onclick="alert('This is the Menu for today')"><i class="fa fa-check"></i>View Menu</button>
        </form>
        <br></br>
        <form class="button" action="/customer/recommendations" enctype="application/x-www-form-urlencoded" method="post" id="myForm2">
            <button type="submit" class="btn btn-sm btn-info" style= "color: black" name="butt2" onclick="alert('You can now type in your recommendations for each meal on today's menu')"><i class="fa fa-check"></i>Recommendations</button>
        </form>
        <br></br>
    </div>
</div>

