<style>
    h1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #000080;
        font-family: garamond;
        font-size: 400%;
    }

    p {
        color: red;
    }

    button {
        background-color: #dfd009;
        color: white;
        font-family: verdana;
        font-size: 120%
    }

    button0 {
        background-color: #00000;
        color: black;
    }

    .button {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
    }

    .button4 {
        position: fixed;
        right: 0;
        bottom: 0;
        color: black;
    }
    .container{
        background-color: white;
        background-image: url("https://thumbs.dreamstime.com/b/indian-food-cuisine-dishes-copy-space-tikka-masala-dal-paneer-samosa-chapati-chutney-spices-gray-background-assortment-meal-145296328.jpg");
        background-size: 1650px 940px;
    }
</style>
<div class="container" id="home" style="width: 1550px; height: 820px;">
    <div class="button">
        <br></br>
        <br></br>
        <br></br>        
        <h1>PDC 2.0</h1>
        <h1>HEAVEN ON EARTH</h1>
        <br></br>
        <br></br>
        <br></br>
        <form class="button" action="/login" enctype="application/x-www-form-urlencoded" method="post" id="myForm1">
            <button type="submit" class="btn btn-warning btn-lg" style= "color: black" name="butt1"><i class="fa fa-check"></i>Log in</button>
        </form>
        <br></br>
        <form class="button" action="/register" enctype="application/x-www-form-urlencoded" method="post" id="myForm2">
            <button type="submit" class="btn btn-warning btn-lg" style= "color: black" name="butt2"><i class="fa fa-check"></i>Sign Up as New User</button>
        </form>
        <br></br>
    </div>
</div>

