<h1>MENU</h1>
<br></br>


<table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">Dish ID</th>
        <th scope="col">Dish Name</th>
        <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
    <tr>
        
      <th scope="row">{{this.ID}}</th>
      <td>{{this.food_name}}</td>
      <td>{{this.price}}</td>
    </tr>
    {{/each}}
  </tbody>
    

</table>