<h1>Provide Recommendation</h1>

    <style>
      body {
        background-color: white;
        background-image: url("https://img.freepik.com/free-photo/blank-backboard-background_24076-517.jpg?size=626&ext=jpg");
        background-size: 1300px 740px;
      }
      h1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #88d4df;
        font-family: garamond;
        font-size: 300%;
      }
      .logo {
        position: absolute;
        right: 10px;
        bottom: 0px;
      }
      .mailto {
        text-align: center;
        font-size: 200%;
      }
    </style>
  </head>

  <body>
    <form class="mailto" action="mailto:PDCmanager@gmail.edu.pk" method="get" enctype="text/plain">
      <div>
        <label for="name" style="color: white;">Name:
          <input type="text" name="name" id="name" />
        </label>
      </div>
      <div>
        <label for="email" style="color: white";>Email:
          <input type="text" name="email" id="email" />
        </label>
      </div>
      <div>
        <label style="color: white;">Comments:</label>
        <br />
        <textarea name="comments" rows="12" cols="35" placeholder="Send your dish recommendations to us."></textarea>
      </div>
      <div>
        <input type="submit" name="submit" value="Send" />
        <input type="reset" name="reset" value="Clear Form" />
      </div>
    </form>
    <div class="logo">
      <img
        src="https://lums.edu.pk/sites/default/files/inline-images/LUMS%20Logo.png"
      />
    </div>