<style>
    .container{
        background-color: white;
        background-image: url("https://thumbs.dreamstime.com/b/indian-food-cuisine-dishes-copy-space-tikka-masala-dal-paneer-samosa-chapati-chutney-spices-gray-background-assortment-meal-145296328.jpg");
        background-size: 1650px 940px;
    }
</style>

<div class="container" id ="cont" style="width: 1550px; height: 820px;">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br></br>
            <br></br>
            <br></br>
            <br></br>
            <div style="display:flex">
            <form action="/login" method="POST" role="form" enctype="application/x-www-form-urlencoded" id = "login_form" style="width: 400px; overflow: hidden; margin: auto; margin: 20 0 0 450px; padding: 80px; background: green; border-radius: 15px ;">
                <legend>Welcome Back to PDC 2.0!</legend>
            
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="____@____.com" style="width: 400; height: 30px; border: none; border-radius: 3px; padding-left: 8px; ">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password" id="password" placeholder="*********" style="width: 400; height: 30px; border: none; border-radius: 3px; padding-left: 8px;">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="priv" id= "priv" value="1" style="width: 50px; height: 10px; border: none; border-radius: 17px; padding-left: 7px; color: blue;">
                        ... Are you a member of the staff?
                    </label>
                </div>
                <button type="submit" id="log" class="btn btn-primary">Submit</button>
            </form>
            </div>
            
        </div>
        
    </div>
    
</div>