
<style>
    *{
  margin:0;
  padding:0;
}
.item{
  background-color: #FFF9E3;
      width: 800px;
      height: 350px;
  border: 1px solid black;
text-align: center;
  line-height: 150px;
height: 150px;
  display:flex;
  flex-direction: column;
}
.items{
  display:flex;
   flex-grow: 4;
  flex-direction: column;
flex-wrap:wrap;
  
  justify-content:left;
   gap: 20px 40px;
}
.btn-butn{
  background-color:lightblue;
}
.inside-item{
  display:flex;
    gap: 20px 20px;
 
   align-items: stretch;
  justify-content: center;


 
}
.change{
  display:flex;
  
}
.change:hover{
  background-color:gray;
  color:white;
}
</style>
<h1>Profile</h1>

<div id="welcome-message">
  <script id="my-template" type="text/x-handlebars-template">
<h3>Welcome, {{names}}</h3>
<br>
<button class="change">Change Password</button>

<h2>Here are your past orders,</h2>

  <div class="items">
   
 {{#each items}}

<div class="item">
 
    <div class="inside-item"> 
    <div class="name">Item Name:{{this.name}}</div> 
      
      
    <div>Price:{{this.price}}</div>  
   
    </div>
  
   
    </div>
  
 {{/each}}
      </div>
  
  </script>
</div>  
