h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000080;
  font-family: garamond;
  font-size: 300%;
}
p {
  color: red;
}
button {
  background-color: #000080;
  color: white;
  font-family: verdana;
  font-size: 120%;
}
.button {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer {
  float: right;
  font-family: garmond;
  font-size: 300%;
  color: black;
  /* bold: inherit; */
}
body {
  width: 100%;
  background-color: white;
  background-image: url("https://thumbs.dreamstime.com/b/indian-food-cuisine-dishes-copy-space-tikka-masala-dal-paneer-samosa-chapati-chutney-spices-gray-background-assortment-meal-145296328.jpg");
  background-size: 1550px 720px;
}
